*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#mainheader {
    color: rgba(255, 255, 255, 0.664);
    background-color: rgba(128, 128, 128, 0.342);
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(71, 4, 4);
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.list {
   float: left;
}

.bar {
    color: rgb(184, 146, 97);
    text-decoration: none;
    display: block;
    padding: 16px 18px;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    transition: all 0.5s;
}


.bar:hover {
    background-color: rgb(49, 9, 9);
    font-size: 20px;
}


@media screen and (max-width: 836px) {
    .list {float: none;}
}

.firstarticle {
    color: white;
    margin: 11px;
    font-size: 18px;
    padding: 11px;
    text-align: left;
    
}

.firstarticle::first-letter {
    color: burlywood;
    font-size: 25px;
}

.articlehead {
    color: burlywood;
    font-size: 22px;
    margin-left: 15px;
    margin-top: 15px;
}

.david {
    max-width: 350px;
    width: 100%;
    height: auto;
    float: right;
}

.forminfo {
    color: lightpink;
    border: 11px;
    padding: 15px;
    width: auto;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
    background-color: bisque;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    color: brown;
    border-radius: 8px;
}

.dropdown:hover .dropdown-content {
   display: block;
}

.Basicform {
    padding: 20px;
    border-radius: 10px;
}

.labelform {
    display: inline-block;
    font-weight: bold;
    color:blanchedalmond;
    margin: 8px 0px;
}

.labeltwo {
    color: blanchedalmond;
    font-weight: bold;
    display: block;
    margin: 8px 0px;
}

.inputform {
    display: inline-block;
    padding: 8px 5px;
    margin: 5px 0px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(211, 211, 211);
    border: 3px solid rgb(148, 148, 148);
    box-sizing: border-box;
    outline: none;
}

#district {
    display: inline-block;
    padding: 8px 8px;
    margin: 5px 0px;
    border: 3px solid rgb(148, 148, 148);
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(211, 211, 211);
    box-sizing: border-box;
    outline: none;
    width: 100%;
}

#district:focus {
    background-color: white;
    border: 5px solid rgb(102, 24, 24);
}

.opt {
    background-color: white;
}

textarea {
    height: 50px;
    resize: none;
    margin: 5px;
    transition: height 0.4s ease-in-out;
}

textarea:focus {
    height: 150px;
}


.inputform:focus {
    background-color: white;
    border: 5px solid rgb(102, 24, 24);
}

.age {
    cursor: pointer;
    margin: 8px 0px;
    padding: 5px 0px;
}

.lage {
    padding: 11px;
    color: white;
}

.subform {
    padding: 12px;
    margin: 11px;
    border-radius: 8px;
    background-color: rgb(138, 14, 14);
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s;
    width: 100%;
}

.subform:hover {
    background-color: rgb(161, 8, 8);
}

.dropbtn {
    display: inline-block;
    position: relative;
}

.dropdown-btn {
    position: absolute;
    background-color: lightcoral;
    min-width: 160px;
    z-index: 1;
    display: none;
    border-radius: 6px;
}

.droplink {
    color: rgb(107, 25, 25);
    padding: 14px 16px;
    display: block;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.3s;
}

.droplink:hover {
    background-color: rgb(199, 103, 103);
}

.dropbtn:hover .dropdown-btn {
    display: block;
}


