
*{
    margin: 0;
    padding: 0;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.list {
    float: left;
}

.bar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bar:hover {
    background-color: #111;
}

@media screen and (max-width: 600px)
{
    .list {float: none;}
}


.heading {
    margin: 10px;
}

.dropdown {
    margin: 10px;
}

.greenbutton {
    margin: 10px;
}

.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .link:hover{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropbig {
    position: relative;
    display: inline-block;
}

.dropbig-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropbig:hover .dropbig-content {
    display: block;
}

.description {
    padding: 15px;
    text-align: center;
}

.dropdownimage {
    margin: 10px;
}

.container {
    margin-top: 300px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
}

#fName, #lName, #country, #subject {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#subject {
    height: 120px;
    resize: none;
}

.labelform {
    padding: 12px 12px 12px 0px;
    display: inline-block;
}

.submit {
    padding: 12px 20px;
    background-color: #7e897c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    color: white;
}

.submit:hover {
    background-color: #585e57;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25, .col-75, .submit {
        margin-top: 0;
        width: 100%;  
    }
}

.counters {
    counter-reset: section;
    margin: 12px;
    padding: 12px;
}

.numbering::before {
    counter-increment: section;
    content: "Section " counter(section) ": ";
}

.listoftopic {
    margin: 12px;
    padding: 12px;
    counter-reset: section;
}

.maintopic {
    counter-reset: subsection;
}

.maintopic::before {
    counter-increment: section;
    content: "Section " counter(section) ": ";
}

.minortopic::before {
    counter-increment: subsection;
    content: counter(section)":"counter(subsection) " ";
}

.row {
    box-sizing: border-box;
    margin: 12px;
}

.column::first-letter {
    font-size: 25px;
    color: #585e57;
}


/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 31.33%;
    padding: 15px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout, makes the three columns stack on each other instead of next to each other */

@media screen and (max-width: 1540px) {
    .column {
        width: 100%;
    }
}