*{
    margin: 0;
    padding: 0;
}

#mainHeader {
    background-color: black;
    text-align: center;
    color: white;
    padding: 8px;
    width: 100%;
}

.navbar {
    background-color: gray;
    padding: 12px;
    text-align: left;
    width: 100%;
}

.list {
    display: inline;
}

.bar {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 12px 16px;
    width: 100%;
}

.bar:hover{
    background-color: rgb(97, 95, 95);
    font-size: 20px;
}

.dropdown-content {
    color: white;
    background-color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 10px 15px 10px;
    font-weight: bold;
    width: 160px;
    box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 20px;
    display: none;
    margin-left: 10px;
}

.global {
    font-family: Arial, Helvetica, sans-serif;
    background-color: mediumseagreen;
    color: white;
    font-size: 23px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 120px;
}

.dropdown-button:hover .dropdown-content {
    display: block;
}

